@import '../UI/MyLink/MyLink.scss';

.footer {
  background-color: $main-text-color;
  padding: 62px 32px;
  color: #fff;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: 236px;

  &__link {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;

    &:first-of-type,
    &:last-of-type {
      // width: 80px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00059 0L4.99824 5.3336L1 0.00559998L0 1.3384L4.99882 8L10 1.3336L9.00059 0Z' fill='black'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 40% 20%;
    }
  }

  &__help {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}

.footer-copyright {
  width: 256px;
  font-weight: normal;

  p {
    line-height: 25px;
  }
}
