.first__screen__text-link {
    display: inline-block;
    color: #fff;
    background-color: #56593D;
    padding: 16px 25px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 16px;
}