.essentials {

    &__text {
        background-image: url('../../img/essentialsBg.webp');
        background-size: cover;
        height: 700px;
        text-align: center;
        color: $main-text-color;
        padding-top: 62px;

        p {
            font-size: 17px;
            text-transform: uppercase;

        }

        h3 {
            font-size: 50px;
            line-height: 60.5px;
            padding: 0 118px;
            padding-top: 11px;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
        }
    }
}