@import '../Nav/Nav.scss';
@import '../Logo/Logo.scss';
@import '../User/User.scss';



.main-header {
    padding-top: 54px;
    margin: 6px;
    box-shadow: 0px 18px 1px 1px $main-boxShadow-color inset;
}