.newsletter {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 63px 0;
    font-family: 'Roboto', sans-serif;

    h3 {
        font-weight: normal;
        font-size: 28px;
        margin-bottom: 16px;
    }


    &__form {
        margin-top: 31px;
        max-width: 500px;

        &-input {
            display: inline-block;
            width: 340px;
            border: none;
            background-color: inherit;
            border-bottom: 1px solid $main-text-color;
            margin-right: 16px;
        }

        &-button {
            border: none;
            outline: none;
            color: #fff;
            background-color: $main-text-color;
            text-transform: uppercase;
            padding: 2px 25px;
            font-size: 15px;
        }
    }
}