@import '../Line/Line.scss';
@import '../FooterCopyright/FooterCopyright.scss';
@import '../Nav/Nav.scss';
@import '../UI/MyLink/MyLink.scss';

.footer {
    background-color: $main-text-color;
    padding: 62px 32px;
    color: #fff;
}